
<h2>Añade nuevos usuarios</h2>
<form>
    <div class="mb-3">
      
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="mb-3">

        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="dirección" placeholder="Dirección">
      </div>
 
    <div class="mb-3">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">

    </div>
     <div class="doble">
    <div class="mb-3 doble">
        <div><h5>Fecha de Inscripción</h5></div>
       <div> <input type="date" class="form-control" id="fecha_inscripcion"></div>
      </div>
    
      <div class="mb-3 doble">
        <div><h5>Fecha de nacimiento</h5></div>
       <div> <input type="date" class="form-control" id="fecha_nacimiento"></div>
      </div>
    </div>
    <div class="doble">
      <div class="mb-3">
        <input type="number" class="form-control" id="edad" placeholder="Edad">
      </div>
     
      <div class="mb-3">
     
        <input type="number" class="form-control" id="cuota" placeholder="Cuota €">
      </div>
      
      <div class="mb-3">
    
        <input type="text" class="form-control" id="Dni" placeholder="Dni" >
      </div>
    
      <div class="mb-3">
        <select name="Sexo" id="" class="form-control">
        <option value="h">Sexo</option>
        <option value="h">Hombre</option>
        <option value="m">Mujer</option>
    </select>
    </div>
</div>

      <boton class="boton" type="submit" texto = "Enviar"> </boton>

  </form>

